.Rproj.user
.Rhistory
.RData
.Ruserdata
Replication Project/usa_00002.dat
Replication Project/usa_00002.dat.gz
*.gz
Replication Project/usa_00003.dat
Replication Project/.RDataTmp
Replication Project/.DS_Store
Replication Project/.RDataTmp1
Replication Project/.RDataTmp2
Replication Project/.RDataTmp3
Replication Project/.RDataTmp4
Replication Project/usa_00004.pdf
Replication Project/usa_00004.xml
Hood Replication Project/usa_00004.xml
